<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ page.title }}
        </title>
    </head>
    <body>
        <header>
            <img src = "{{ page.header.image.src }}"
                 alt = "{{ page.header.image.alt }}">
        </header>
        <nav>
            <ul>
                {% for label, urn in page.nav %}
                <li>
                    <a href = "{{ urn }}">
                        {{ label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <main>
            <h1>
                {{ page.heading }}
            </h1>
            {% for heading, content in page.main %}
            <article>
                <h2>
                    {{ heading }}
                </h2>
                <section>
                    {{ content | raw }}
                </section>
            </article>
            {% endfor %}
        </main>
        <footer>
            <nav>
                <ul>
                    {% for label, urn in page.footer.nav %}
                    <li>
                        <a href = "{{ urn }}">
                            {{ label }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <small>
                {{ page.footer.nav }}
            </small>
        </footer>
    </body>
</html>